<header>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Workout Tracker</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container formInput">
        <div class="row">
            <form class="col s12 addWorkout">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="workoutName" type="text" class="validate">
                        <label for="workoutName">Workout Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="trainingType" type="text" class="validate">
                        <label for="trainingType">Type of Training</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="setsNumber" type="text" class="validate">
                        <label for="setsNumber">Number of Sets</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="repsNumber" type="text" class="validate">
                        <label for="repsNumber">Number of Reps</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="break" type="text" class="validate">
                        <label for="break">Break</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="description" type="text" class="validate">
                        <label for="description">Description</label>
                    </div>
                </div>

                <button type="submit" class="formSubmit">Add Workout</button>
            </form>
        </div>
    </div>

