/* body{
    background-color: salmon;
} */

.formInput{
    border: 1px solid black;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 50px 50px 50px 50px;
}

.workoutInput{
    display: block;
    /* margin: 0 auto; */
    /* border: 1px solid black; */
    margin-top: 5%;
    margin-left: 32vw;
}